<a href="/dashboard">&larr; Back</a>
<div class="admin-title">
  <h2>Add New Post</h2>
</div>

<div class="squares-container">
  <a href="/add-vehicle" class="square">Vehicles</a>
  <a href="/add-phone" class="square">Phones</a>
</div>
<div class="squares-container">
  <a href="/add-computer" class="square">Computers</a>
  <a href="/add-lesson" class="square">Private Lessons</a>
</div>