<div class="admin-title">
  <h2>Add New Computer</h2>
</div>

<form action="/add-computer" method="POST">

  <label for="title"><b>Title</b></label>
  <input type="text" placeholder="Title" name="title">

  <label for="type"><b>Type</b></label>
  <input type="text" placeholder="Type" name="type">

  <label for="model"><b>Model</b></label>
  <input type="text" placeholder="Model" name="model">

  <label for="brand"><b>Brand</b></label>
  <input type="text" placeholder="Brand" name="brand">

  <label for="image"><b>Image</b></label>
  <input type="text" placeholder="URL " name="image">

  <label for="year"><b>Year</b></label>
  <input type="text" placeholder="Year " name="year">

  <label for="cpu"><b>CPU</b></label>
  <input type="text" placeholder="CPU " name="cpu">

  <label for="ram"><b>Ram</b></label>
  <input type="text" placeholder="Ram " name="ram">

  <label for="storage"><b>Storage</b></label>
  <input type="text" placeholder="Storage " name="storage">

  <label for="os"><b>Operating System</b></label>
  <input type="text" placeholder="Operating System " name="os">

  <label for="gpu"><b>GPU</b></label>
  <input type="text" placeholder="GPU " name="gpu">

  <label for="price"><b>Price</b></label>
  <input type="text" placeholder="Price " name="price">

  <label for="description"><b>Description</b></label>
  <input type="text" placeholder="Description " name="description">

  <input type="submit" value="Add" class="btn">

</form>