<div class="admin-title">
  <h2>Add New Vehicle</h2>
</div>

<form action="/add-vehicle" method="POST">

  <label for="title"><b>Title</b></label>
  <input type="text" placeholder="Vehicle Title" name="title">

  <label for="type"><b>Type</b></label>
  <input type="text" placeholder="Vehicle Type" name="type">

  <label for="model"><b>Model</b></label>
  <input type="text" placeholder="Vehicle Model" name="model">

  <label for="brand"><b>Brand</b></label>
  <input type="text" placeholder="Vehicle Brand" name="brand">

  <label for="image"><b>Image</b></label>
  <input type="text" placeholder="URL " name="image">

  <label for="year"><b>Year</b></label>
  <input type="text" placeholder="Year " name="year">

  <label for="color"><b>Color</b></label>
  <input type="text" placeholder="Color " name="color">

  <label for="engine_displacement"><b>Engine Displacement</b></label>
  <input type="text" placeholder="Engine Displacement " name="engine_displacement">

  <label for="fuel_type"><b>Fuel Type</b></label>
  <input type="text" placeholder="Fuel Type " name="fuel_type">

  <label for="transmission_type"><b>Transmission Type</b></label>
  <input type="text" placeholder="Transmission Type " name="transmission_type">

  <label for="mileage"><b>Mileage</b></label>
  <input type="text" placeholder="Mileage " name="mileage">

  <label for="price"><b>Price</b></label>
  <input type="text" placeholder="Price " name="price">

  <label for="description"><b>Description</b></label>
  <input type="text" placeholder="Description " name="description">

  <input type="submit" value="Add" class="btn">

</form>