<div class="admin-title">
  <h2>Add New Lesson</h2>
</div>

<form action="/add-lesson" method="POST">

  <label for="title"><b>Title</b></label>
  <input type="text" placeholder="Vehicle Title" name="title">

  <label for="tutor"><b>Type</b></label>
  <input type="text" placeholder="Tutor" name="tutor">

  <label for="lesson"><b>Lesson</b></label>
  <input type="text" placeholder="Lesson " name="lesson">

  <label for="location"><b>Location</b></label>
  <input type="text" placeholder="Location " name="location">

  <label for="duration"><b>Duration</b></label>
  <input type="text" placeholder="Duration " name="duration">

  <label for="price"><b>Price</b></label>
  <input type="text" placeholder="Price " name="price">

  <label for="image"><b>Image</b></label>
  <input type="text" placeholder="URL " name="image">

  <label for="description"><b>Description</b></label>
  <input type="text" placeholder="Description " name="description">


  <input type="submit" value="Add" class="btn">

</form>