    <div class="info-row">
        <h1>Welcome, <%= locals.username %></h1>
        <a href="/settings" class="navlink">Settings</a>
      </div>
        <div class="squares-container">
            <a href="/admindashboard/manageusers" class="square">Manage Users</a>
            <a href="/admindashboard/manageposts" class="square">Manage Posts</a>
          </div>