<h2 class="articles__heading"><%= data.title %></h2>
    <div class="info-row">
        <span class="explanation">Type:</span>
        <span class="info"><%= data.type %></span>
    </div>
    <div class="info-row">
        <span class="explanation">Brand:</span>
        <span class="info"><%= data.brand %></span>
    </div>
    <div class="info-row">
        <span class="explanation">Model:</span>
        <span class="info"><%= data.model %></span>
    </div>